<div class="text-page">
    <p class="page-title">About</p>
    <p>Privacy is an important issue that is connected to personal autonomy and integrity. However, many people believe they have no way of controlling their personal information in the digital age. This is compounded by long, convulated privacy policies and technical terminology that leaves many users without a solid understanding of their online footprint.</p>
    <p>Privacy in a Nutshell seeks to provide a more accessible format to understanding the privacy practices of online companies.</p>
    <p>Unless otherwise noted, all summaries are based on the US privacy policy.</p>
</div>