<div class="text-page">
    <p class="page-title">Resources</p>
    <p class="word">Virtual Private Network (VPN)</p>
    <p>VPNs allow users to hide their IP address and add an extra layer of security to their connection. They can also be used to make the user appear like they are in another country, which can be used to get around geoblocking or even get lower rates for some services.</p>
    <p class="word">Ad Blocker</p>
    <p>Ad blockers or content blockers block trackers from being loaded. They can be installed as extensions or may be built into a browser.</p>
    <p class="word">Alternate Search Engine</p>
    <p>Privacy-focused search engines like <a href="https://duckduckgo.com">DuckDuckGo</a> and <a href="https://startpage.com">Startpage</a> collect minimal amounts of data and offer an alternative to search engines like Google and Bing.</p>
    <p class="word">Password Generator</p>
    <p>Strong passwords are important for keeping account data secure. Weak passwords and reused passwords can make personal data more vulnerable. Password generators can generate strong, unique passwords.</p>
    <p class="word">Virtual Payment Cards</p>
    <p>Virtual payment cards can be used in place of a user's actual credit or debit card created on-demand for specific online transactions.</p>
    <p class="word">Temporary Emails</p>
    <p>Temporary emails, also known as a disposal email, allow a user to try out a service without providing their real email.</p>
    <p class="word">Temporary Phone Numbers</p>
    <p>Allows a user to receive automated calls and text messages without providing their real phone number.</p>
    <p class="word">The Onion Router (Tor)</p>
    <p>A network that improves anonymity by making tracing more difficult and encrypting internet traffic. See <a href="https://www.torproject.org/">Tor Project</a>.</p>
</div>