<div class="text-page">
    <p class="page-title">Glossary</p>
    <p class="word">Privacy</p>
    <p>Control over the collection, distribution, and usage of information about oneself, whether this information is directly or indirectly collected</p>
    <p class="word">Personal Information</p>
    <p>Information about an individual</p>
    <p class="word">Sensitive Information</p>
    <p>Information that needs to be kept confidential</p>
    <p class="word">Personally Identifiable Information (PII)</p>
    <p>Information that can be used to directly or indirectly identify an individual</p>
    <p class="word">Deanonymization</p>
    <p>The process of determining a person's identity from anonymous data by cross-referencing multiple data sources.</p>
    <p class="word">Data Controller</p>
    <p>An entity that stores and processes information</p>
    <p class="word">Data Breach</p>
    <p>A security breach where data is released without authorization. Also known as a data leak</p>
    <p class="word">Third Party</p>
    <p>An entity which does not directly interact with the user but provides auxillary services to the main data controller</p>
</div>