<div class="text-page">
    <p class="page-title">Glossary</p>
    <p><span class="word">Privacy</span>Control of one's own information, including it's distribution and usage</p>
    <p><span class="word">Personal Information</span>Information about an individual</p>
    <p><span class="word">Sensitive Information</span>Information that needs to be kept confidential</p>
    <p><span class="word">Personally Identifiable Information (PII)</span>Information that can be used to directly or indirectly identify an individual</p>
    <p><span class="word">Data Controller</span>An entity that stores and processes information</p>
    <p><span class="word">Data Breach</span>A security breach where data is released without authorization. Also known as a data leak</p>
    <p><span class="word">Third Party</span>An entity which does not directly interact with the user but provides auxillary services to the main data controller</p>
</div>