.title {
    font-size: 22px;
    margin-bottom: 20px;
    float: left;
}

.close {
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto";
    text-align: center;
    user-select: none;
    border: 1px solid grey;
    background-color: whitesmoke;
    height: 24px;
    width: 24px;
    border-radius: 12px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border-width: 2px;
}

.results {
    margin-top: 20px;
    width: 350px;
    max-height: 300px;
    overflow: auto;
}

.datapoint {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    width: fit-content;
}